@media screen {
  html, body {
    background-color: darkgrey;
    font-size: 18pt;
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  header {
    font-size: 24pt;
    text-shadow: 1px 2px grey;
    text-align: center;
    flex: 0 0 auto;
  }

  section {
    flex: 1 1 auto;
    overflow:scroll;
  }

  footer {
    flex-shrink: 0;
    font-size: 8px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  #data-section > * {
    font-size: 14px;
  }

  .in-line > * {
    display: inline-block;
  }
}
